---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import ScholarshipForm from '../../../components/admin/ScholarshipForm.astro';

export const prerender = false;
---
<AdminLayout title="Create New Resource">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-8">Create New Resource</h1>
  <ScholarshipForm />
</AdminLayout>
